.set-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.set-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.set-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.set-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.set-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.p {
  text-align: center;
  font-family: monospace;
  font-size: x-large;
}

.a-tag {
  margin-left: 5px;
  font-size: large;
}

.div-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh; /* Set the container height to occupy the full viewport */
}
